# Desafio: manipulando um banco de dados

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Você é responsável por criar um banco de dados local de clientes para uma instituição financeira. Temos o [arquivo CSV](https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv) com os dados de clientes.

Sua missão é:


1.   Criar o banco de dados local com a biblioteca SQLAlchemy.
2.   Escrever os dados do arquivo CSV neste banco de dados local.
3.   Realizar três atualizações no banco de dados:

* Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.

* Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.

* Criar um novo registro de cliente seguindo as especificações abaixo:
        ID_Cliente: 6850985
        Idade: 33
        Grau_escolaridade: Doutorado
        Estado_civil: Solteiro
        Tamanho_familia: 1
        Categoria_de_renda: Empregado
        Ocupacao: TI
        Anos_empregado: 2
        Rendimento_anual: 290000
        Tem_carro: 0
        Moradia: Casa/apartamento próprio



Dica importante: Para adicionar um(a) novo(a) cliente à tabela, utilize a cláusula **INSERT INTO** seguida do nome da tabela e depois especifique entre parênteses os nomes das colunas da tabela. Utilize a cláusula **VALUES** e, em seguida, passe entre parênteses os novos valores para esse novo registro. Certifique-se de que os valores estejam na ordem correta e no formato adequado para cada coluna.

In [ ]:
# Importando a biblioteca Pandas
import pandas as pd

In [ ]:
# Importando o banco de dados SQL Alchemy
import sqlalchemy

In [ ]:
# Verificando a versão dele para ver se precisa atualizar:
sqlalchemy.__version__

'1.4.54'

In [3]:
# Visto que ele tava desatualizado, chamei a atualização para o banco de dados e
# pedi que instalasse a versão <2.0:
!pip install --upgrade sqlalchemy==2.0

Collecting sqlalchemy==2.0
  Downloading SQLAlchemy-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.3 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==2.0) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==2.0) (3.1.1)
Downloading SQLAlchemy-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 21.2 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
Successfully installed sqlalchemy-2.0.0

In [4]:
# Após preparar e atualizar, vou importar o bd para poder usa-lo e
# especificar que quero ler os metadados das tabelas e inspeciona-los:
from sqlalchemy import create_engine, MetaData, table, inspect

In [5]:
# Aqui espelicamos para IDE que nós queremo atribuir a váriavel "engine" a seguinte funcionaldade:
engine = create_engine('sqlite:///:memory:')

# create_engine('sqlite:///:memory:'): Aqui estamos dizendo que engine vai receber o motor de criação do banco de dados, e vai executar
# da seguinte forma, que é localmente. Logo esse código serve para dizer que esse banco de dados vai ser executado com o moto local
# usando essa maquina aqui como armazenamento para o dados que serão trabalhados.

Após ter feito as preparações, apartir daqui vou começar a resolução da atividade :D

In [6]:
import pandas as pd

In [7]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

In [8]:
bancoDados = pd.read_csv(url)

In [9]:
bancoDados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [12]:
# Enviando para o banco de dados os dados em CSV:
bancoDados.to_sql('clientes', engine, if_exists='replace', index=False)

438463

In [13]:
# INSPECTOR é usado no SQLAlchemy para inspecionar metadados de um banco de dados.
# Ele permite listar tabelas, colunas, chaves primárias, estrangeiras e índices, sendo útil para explorar e
#automatizar tarefas relacionadas à estrutura do banco.

# Então vamos usar o INSPECT para listar a tabela que enviamos para o banco para podermos ler mais a frente.

inspector = inspect(engine)

In [14]:
# Usamos esse print para chamar todas as tabelas do banco de dados para ver se a transferencia
# de CSV para SQL para dentro do banco foi feita com sucesso. Assim podemos vizualisar a tabela.
print(inspector.get_table_names())

['clientes']

.

In [15]:
query = 'SELECT * FROM clientes' # Chamamos um select total da tabela dentro do banco para checarmos se os dados vieram.

In [16]:
pd.read_sql(query, engine) # Usamos o pd.read_sql para renderizar a query e o engine que é o motor:

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438459,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438460,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438461,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438462,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

Agora vamos para a etapa final que é realizar as QUERY's que o exercicio pede que são essas:

# Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.

In [35]:
from sqlalchemy import text # Import the 'text' function from sqlalchemy

In [36]:
query = 'UPDATE clientes SET Rendimento_anual="300000" WHERE ID_Cliente=6840104'
with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [37]:
# Verificando se atualizou
query = 'SELECT * FROM clientes WHERE ID_Cliente=6840104 '
pd.read_sql(query, engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,300000.0,0,Casa/apartamento próprio

# Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.

In [40]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008809'
with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [43]:
# Verificando se atualizou
query = 'SELECT * FROM clientes WHERE ID_Cliente=5008809'
pd.read_sql(query, engine)

Empty DataFrame
Columns: [ID_Cliente, Idade, Grau_escolaridade, Estado_civil, Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, Rendimento_anual, Tem_carro, Moradia]
Index: []

# Criar um novo registro de cliente seguindo as especificações abaixo:

  * ID_Cliente: 6850985
  * Idade: 33
  * Grau_escolaridade: Doutorado
  * Estado_civil: Solteiro
  * Tamanho_familia: 1
  * Categoria_de_renda: Empregado
  * Ocupacao: TI
  * Anos_empregado: 2
  * Rendimento_anual: 290000
  * Tem_carro: 0
  * Moradia: Casa/apartamento próprio

In [52]:
query = 'INSERT INTO clientes (ID_Cliente,Idade,Grau_escolaridade,Estado_civil, Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, Rendimento_anual,Tem_carro, Moradia) Values (6850985,33,"Doutorado","Solteiro",1,"Empregado","TI",2,290000,0,"Casa/apartamento próprio")'
with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [54]:
query = 'SELECT * FROM clientes WHERE ID_Cliente=6850985'
pd.read_sql(query, engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,6850985,33,Doutorado,Solteiro,1,Empregado,TI,2,290000.0,0,Casa/apartamento próprio